<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
    {% if user %}
      <p>
          username:{{user.username}}
          gender:{{user.gender}}
          age:{{user.age}}
      </p>
      <hr>
      <p>
          person.name:{{user.person.name}}
          person.age:{{user.person.age}}
      </p>
      <hr />
      <p>
          websites.baidu:{{user.websites.baidu}}
          websites.google:{{user.websites.google}}
      </p>
    {% else %}
      <p>
          Hello again html!
      </p>
    {% endif %}

</body>
</html>
